{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 2,
    "@typescript-eslint/no-shadow": 2,
    "@typescript-eslint/brace-style": 2,
    "@typescript-eslint/comma-spacing": 2,
    "@typescript-eslint/indent":2,
    "@typescript-eslint/no-magic-numbers": 2,
    "@typescript-eslint/no-redeclare": 2,
    "@typescript-eslint/quotes": 2,
    "@typescript-eslint/semi": 2,
    "@typescript-eslint/space-infix-ops": 2,
    "@typescript-eslint/func-call-spacing": 2,
    "@typescript-eslint/no-duplicate-imports": 2,
    "@typescript-eslint/no-extra-parens":2,
    "@typescript-eslint/no-loop-func": 2
  }
}